@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
.customScrollBar::-webkit-scrollbar{
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    scroll-behavior: smooth;
}
.customScrollBar::-webkit-scrollbar-track{
    background: #f1f1f1;
}
.customScrollBar::-webkit-scrollbar-thumb{

    background: orange;
}
.customScrollBar::-webkit-scrollbar-track{
    background: #555;
}
.head-banner{
    background: url(/images/slider_1.jpg) no-repeat ;
    background-position:  top right -500px;
    color: #ff0000;
    background-color: #F8F8F8;
}

.men{
    background: url(/images/12.jpg) no-repeat;
    background-position: top left;
}
.women{
    background: url(/images/84.jpg) no-repeat;
    background-position: top -50px left;
}
.darkCart{
    background: url(../public/images/emptyCartDark.png) no-repeat;
}
.lightCart{
    background: url(../public/images/emptyCartLight2.png) no-repeat;
}
.defNone{
    -webkit-appearance: none;
    appearance: none;
}
.defNone::-webkit-inner-spin-button{
    appearance: none;
}
